button{
    width: 20%;
    height: 250px;
    box-shadow: 10px 10px 5px grey;
    margin-left: 6.5%;
    margin-right: 6.5%;
    font-size: 50px;
    background-color: #d7e8ff;
    border-radius: 200px;
    cursor: pointer;
    border: 0px;
}

button:hover{
    box-shadow: 12px 12px 6px grey;
    background-color: #6490ba;
    transition-duration: 0.5s;
    color: white;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}